@import "tailwindcss";
@theme {
  --default-font-family: Futura;
  --font-sans: Futura, ui-sans-serif, system-ui, sans-serif
  --color-peach-50: oklch(0.967 0.016 17.55);
  --color-peach-100: oklch(0.926 0.038 17.9);
  --color-peach-200: oklch(0.863 0.074 18.71);
  --color-peach-300: oklch(0.79 0.121 20.15);
  --color-peach-400: oklch(0.727 0.169 22.18);
  --color-peach-500: oklch(0.642 0.244 27.69);
  --color-peach-600: oklch(0.544 0.223 29.23);
  --color-peach-700: oklch(0.445 0.183 29.23);
  --color-peach-800: oklch(0.345 0.141 29.23);
  --color-peach-900: oklch(0.245 0.101 29.23);
  --color-peach-950: oklch(0.187 0.077 29.23);
  --color-fuschia-50: oklch(0.96 0.023 343.03);
  --color-fuschia-100: oklch(0.921 0.047 345.01);
  --color-fuschia-200: oklch(0.833 0.104 345.73);
  --color-fuschia-300: oklch(0.763 0.153 347.49);
  --color-fuschia-400: oklch(0.702 0.201 349.66);
  --color-fuschia-500: oklch(0.644 0.242 353.77);
  --color-fuschia-600: oklch(0.568 0.227 356.78);
  --color-fuschia-700: oklch(0.459 0.183 356.05);
  --color-fuschia-800: oklch(0.347 0.136 355.12);
  --color-fuschia-900: oklch(0.22 0.084 352.94);
  --color-fuschia-950: oklch(0.159 0.057 348.41);
  --color-indigo-50: oklch(0.958 0.019 292.69);
  --color-indigo-100: oklch(0.925 0.034 289.43);
  --color-indigo-200: oklch(0.85 0.068 289.56);
  --color-indigo-300: oklch(0.775 0.105 288.67);
  --color-indigo-400: oklch(0.7 0.144 288.06);
  --color-indigo-500: oklch(0.628 0.18 286.29);
  --color-indigo-600: oklch(0.554 0.214 284.65);
  --color-indigo-700: oklch(0.481 0.245 281.95);
  --color-indigo-800: oklch(0.367 0.189 281.6);
  --color-indigo-900: oklch(0.256 0.132 281.86);
  --color-indigo-950: oklch(0.2 0.103 281.93);
  --color-skyBlue-50: oklch(0.964 0.033 208.32);
  --color-skyBlue-100: oklch(0.927 0.066 209.04);
  --color-skyBlue-200: oklch(0.87 0.116 210.48);
  --color-skyBlue-300: oklch(0.845 0.135 211.86);
  --color-skyBlue-400: oklch(0.824 0.144 214.85);
  --color-skyBlue-500: oklch(0.741 0.132 216.07);
  --color-skyBlue-600: oklch(0.626 0.111 216.27);
  --color-skyBlue-700: oklch(0.505 0.09 215.64);
  --color-skyBlue-800: oklch(0.39 0.069 214.99);
  --color-skyBlue-900: oklch(0.25 0.044 212.49);
  --color-skyBlue-950: oklch(0.162 0.028 207.92);
  --color-purple-50: oklch(0.959 0.019 312.9);
  --color-purple-100: oklch(0.917 0.041 314.66);
  --color-purple-200: oklch(0.829 0.089 315.03);
  --color-purple-300: oklch(0.749 0.136 315.24);
  --color-purple-400: oklch(0.669 0.185 316.03);
  --color-purple-500: oklch(0.581 0.202 316.66);
  --color-purple-600: oklch(0.496 0.172 316.32);
  --color-purple-700: oklch(0.406 0.142 316.36);
  --color-purple-800: oklch(0.316 0.11 316.65);
  --color-purple-900: oklch(0.236 0.082 316.98);
  --color-purple-950: oklch(0.186 0.064 317.6);
  --color-dusk-50: oklch(0.961 0.009 292.95);
  --color-dusk-100: oklch(0.932 0.016 290);
  --color-dusk-200: oklch(0.865 0.034 291.21);
  --color-dusk-300: oklch(0.784 0.055 290.97);
  --color-dusk-400: oklch(0.713 0.075 289.65);
  --color-dusk-500: oklch(0.641 0.095 288.44);
  --color-dusk-600: oklch(0.57 0.117 287.46);
  --color-dusk-700: oklch(0.493 0.136 285.45);
  --color-dusk-800: oklch(0.375 0.098 285.26);
  --color-dusk-900: oklch(0.241 0.052 286.68);
  --color-dusk-950: oklch(0.17 0.031 288.8);
  --color-blue-50: oklch(0.963 0.017 234.45);
  --color-blue-100: oklch(0.924 0.034 235.85);
  --color-blue-200: oklch(0.851 0.068 235.3);
  --color-blue-300: oklch(0.779 0.101 237.16);
  --color-blue-400: oklch(0.712 0.131 239.8);
  --color-blue-500: oklch(0.652 0.154 244.09);
  --color-blue-600: oklch(0.554 0.129 243.63);
  --color-blue-700: oklch(0.456 0.104 243.16);
  --color-blue-800: oklch(0.345 0.074 241.57);
  --color-blue-900: oklch(0.225 0.044 240.22);
  --color-blue-950: oklch(0.159 0.028 233.19);
  --color-mint-50: oklch(0.952 0.044 208.72);
  --color-mint-100: oklch(0.906 0.093 206.74);
  --color-mint-200: oklch(0.813 0.139 204.75);
  --color-mint-300: oklch(0.728 0.124 204.87);
  --color-mint-400: oklch(0.644 0.11 204.98);
  --color-mint-500: oklch(0.56 0.096 205.07);
  --color-mint-600: oklch(0.475 0.081 205.11);
  --color-mint-700: oklch(0.39 0.067 205.06);
  --color-mint-800: oklch(0.304 0.052 204.82);
  --color-mint-900: oklch(0.219 0.037 206.88);
  --color-mint-950: oklch(0.174 0.03 202.83);
  --color-warmGray-800: #4a4a4a;
  --color-warmGray-900: #282828;
  --color-warmGray-950: #181818;
  --color-coolGray-50: #f8f8f8;
  --color-coolGray-100: #e8e8e8;
  --color-coolGray-200: #cccccc;

  --color-surface: var(--color-coolGray-50);
  --color-onSurface: var(--color-warmGray-800);
  --color-onDark: white;
  --color-mint: var(--color-mint-100);
  --color-peach: var(--color-peach-400);
  --color-fuschia: var(--color-fuschia-400);
  --color-indigo: var(--color-indigo-700);
  --color-sky: var(--color-skyBlue-200);
  --color-purple: var(--color-purple-500);
  --color-dusk: var(--color-dusk-700);
  --color-blue: var(--color-blue-700);
}
