---

---

<style>
  .link {
    font-weight: var(--font-weight-medium);
    font-size: var(--text-lg);
    letter-spacing: var(--tracking-wide);
    cursor: pointer;
    width: min-content;
  }

  .link:hover {
    text-decoration: underline;
  }
</style>
<div class="flex flex-row justify-start gap-25">
  <a class="link" href="/">about</a>
  <a class="link" href="/code">code</a>
  <a class="link" href="/workshop">workshop</a>
  <a class="link" href="/social">social</a>
</div>
