---
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body class="mx-40 mt-18 bg-surface text-onSurface">
    <Navigation />
    <div class="mt-18">
      <slot />
    </div>
  </body>
</html>
