---
import { ClientRouter } from "astro:transitions";
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Jude He</title>
    <ClientRouter />
  </head>
  <body class="mx-40 mt-12 bg-surface text-onSurface">
    <Navigation />
    <div class="mt-14 flex h-full">
      <slot />
    </div>
  </body>
</html>
